<%= javascript_pack_tag "show_task" %>
<div id="show-tasks" class="row task-width">
	<div class="col-10">
		<div>
			<div class="">
				<div class="h3 text-danger">Uncompleted Tasks</div>
				<div class="row">
					<% @tasks.each do |task| %>
						<% if !task.task_status? %>
							<div class="show-task p-3 rounded shadow-lg m-4 col-sm-5 <%= task.task_color %>">
								<div class="">
									<span class="task-detail h3"><%= task.task_name %></span>
									<p class="task-detail"><%= task.task_description %></p>
								</div>
								<div class="row border-top pt-2 d-flex task-op">
									<div class="col-3">
										<%= link_to "Delete", task_path(task), method: :delete,remote: true, class:'text-white task-delete-link' %>
									</div>
									<div class="col-3">
										<%= link_to "Edit", task_update_path(id: task.id),remote: true ,class:'text-white task-edit-link' %>
									</div>
									<div class="col-6 text-right">
										<%= form_with url: "/update_task_status", local: false, id:"task_status_form_#{task.id}" do |f| %>
											<% if task.task_status %>
												<%= f.hidden_field :task_id, value: task.id %>
												<%= f.check_box :task_status, class: "task-checkbox p-2",  checked: true ,onchange: "track_task_status(#{task.id})" %>
											<% else %>
												<%= f.hidden_field :task_id, value: task.id %>
												<%= f.check_box :task_status, class: "task-checkbox p-2", checked: false,onchange: "track_task_status(#{task.id})" %>
											<% end %>
										<%end%>  
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="">
				<div class="h3 text-primary">Completed Task</div>
				<div class="row">
					<% @tasks.each do |task| %>
						<% if task.task_status? %>
							<div class="show-task p-3 rounded shadow-lg m-4 col-sm-5 <%= task.task_color %>">
								<div class="">
									<span class="task-detail h3"><%= task.task_name %></span>
									<p class="task-detail"><%= task.task_description %></p>
								</div>
								<div class="row border-top pt-2 d-flex task-op">
									<div class="col-3">
										<%= link_to "Delete", task_path(task), method: :delete,remote: true, class:'text-white task-delete-link' %>
									</div>
									<div class="col-3">
										<%= link_to "Edit", task_update_path(id: task.id),remote: true ,class:'text-white task-edit-link' %>
									</div>
									<div class="col-6 text-right">
										<%= form_with url: "/update_task_status", local: false, id:"task_status_form_#{task.id}" do |f| %>
											<% if task.task_status %>
												<%= f.hidden_field :task_id, value: task.id %>
												<%= f.check_box :task_status, class: "task-checkbox p-2",  checked: true ,onchange: "track_task_status(#{task.id})" %>
											<% else %>
												<%= f.hidden_field :task_id, value: task.id %>
												<%= f.check_box :task_status, class: "task-checkbox p-2", checked: false ,onchange: "track_task_status(#{task.id})" %>
											<% end %>
										<%end%>  
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-2 mt-4 text-center p-4 d-none d-lg-block h-100 shadow rounded text-right" id="day-filter">
		<% day = Date.today %>
		<div class=""><%= link_to "Yesterday", filter_task_day_path(filter_day: (day-1).to_s ), remote: true, class:'h4 text-secondary', onclick: "change_color(this)" %></div>
		<div class="mt-3 pt-3 border-top"><%= link_to "Today", filter_task_day_path(filter_day: (day).to_s), remote: true, class:'h4 text-primary' %></div>
		<div class="mt-3 pt-3 border-top"><%= link_to "Tomorrow", filter_task_day_path(filter_day: (day+1).to_s), remote: true, class:'h4 text-secondary' %></div>
		<div class="mt-3 pt-3 border-top"><%= link_to "Day After Tomorrow", filter_task_day_path(filter_day: (day+2).to_s), remote: true, class:'h4 text-secondary' %></div>
	</div>
</div>
<div id="show-edit-tasks">
</div>
<script>
	track_task_status = (task_id) =>{
		document.getElementById(`task_status_form_${task_id}`).submit();
	}
	var filter_day_op = document.getElementsByClassName("a")
	
	change_color = (e) =>{
		console.log(e)
		if (e.className === "text-secondary") {
			element.classList.remove("text-secondary");
			element.classList.add("text-primary");
		} else {
			element.classList.remove("text-primary");
			element.classList.add("text-secondary");
		}
	}
</script>